{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "max-attributes-per-line": [
    2,
    {
      "singleline": 20,
      "multiline": {
        "max": 1,
        "allowFirstLine": false
      }
    }
  ]
}
